.header__links {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-right: 48px;
}

@media screen and (max-width: 768px) {
    .header__links {
        margin-right: 24px;
    }
}

@media screen and (max-width: 425px) {
    .header__links {
        margin-right: 16px;
    }
}